.profile-avatar {
    width: 100px !important;
    height: 100px !important;
    display: block;
    margin: -10px auto;
}

.form-group {
    margin-bottom: 20px;
}

.formControlLabel {
    font-weight: bold;
}

.full-width {
    width: 100%;
}

.subject-title {
    margin-bottom: 20px;
}

