.full-width {
    width: 100%;
}

.form-group {
    margin: 5px 0px;
}

.rs-theme-dark .formControlLabel {
    color: white !important;
    background-color: transparent;
}

.drawer-links a {
    margin-right: 10px;
}

.drawer-links .rs-divider {
    margin: 0 10px;
}

.form-group {
    margin-bottom: 20px;
}

.formControlLabel {
    font-weight: bold;
}

.drawer-links a {
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    color: #787777;
    font-weight: bold;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.drawer-links a:hover {
    color: #ff6200;
}

.drawer-links a.active {
    color: #ff6200;
}

/* Responsive styles */
@media (max-width: 600px) {
    .form-group,
    .formControlLabel,
    .full-width {
        width: 100% !important;
        padding: 0;
        margin: 0;
    }

    .drawer-links {
        flex-direction: column;
        text-align: center;
    }

    .drawer-links a {
        margin-bottom: 5px;
    }

    .drawer-links .rs-divider {
        display: none;
    }

    .drawer-buttons {
        flex-direction: column;
    }

    .drawer-buttons button {
        width: 100%;
        margin-bottom: 10px;
    }
}



.change-password-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}





.profile-picture-col {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    padding-right: 15px; /* Increased padding to provide more space between the picture and fields */
}

.avatar-lg {
    width: 100px;
    height: 100px;
}

.form-group {
    margin-bottom: 20px;
}

.formControlLabel {
    font-weight: bold;
    margin-left: 5px; /* Align labels slightly better */
}





/* =================================================================
Membership tab*/


.membership-plan {
    text-align: center;
    padding: 20px;
    // background-color: #3a3a3a;
    border-radius: 8px;
}

.membership-plan .plan-header h5 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

.membership-plan .plan-header p {
    font-size: 14px;
    color: white;
    margin-bottom: 15px;
}

.membership-plan .plan-description {
    font-size: 14px;
    color: white;
    margin-bottom: 15px;
}

.usage-section {
    padding: 10px;
    color: white;
    // background-color: #2b2b2b;
    border-radius: 8px;
}

.usage-section h6 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.usage-section p {
    font-size: 14px;
    margin: 5px 0;
    color: #ff6200;
}



/* =================================================================
Notifications Tab*/
.notifications-tab {
    padding: 20px;
    color: white;
}

.notifications-tab h6 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

.notifications-tab .rs-form-group {
    margin-bottom: 15px;
}

.notifications-tab .rs-form-group .rs-form-control-label {
    font-weight: bold;
    color: white; /* Ensure the text is white */
    background-color: transparent; /* Make sure the background is transparent */
    padding: 5px 0; /* Remove any extra padding that might cause background color issues */
    display: inline-block; /* Ensure the label doesn't stretch */
}

.notifications-tab .rs-form-group .rs-checkbox {
    margin-left: 10px;
}


