.board {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px 20px 0px 0px;
    gap: 20px;
    align-items: flex-start;
    height: 86vh;
    // width: auto; /* Ensure width adjusts dynamically */
    min-width: auto !important;
    overflow-x: auto;
    /* Allow horizontal scroll */
    overflow-y: hidden;
    /* Custom Scrollbar for X-axis */
    scrollbar-width: thin;
    scrollbar-color: #ff6200 #1e1e1e;
    flex-grow: 1;
    scroll-behavior: smooth scroll;
    /* Ensure the board stretches to fit the viewport */
}

/* Webkit scrollbar for horizontal scroll */
.board::-webkit-scrollbar {
    height: 10px;
    /* Height for horizontal scrollbar */
}

.board::-webkit-scrollbar-track {
    /* Dark background for scrollbar track */
    border-radius: 10px;
}

.board::-webkit-scrollbar-thumb {
    background-color: #ff6200;
    /* Orange color for scrollbar */
    border-radius: 10px;
    border: 2px solid #1e1e1e;
    /* Adds padding around the thumb */
}

.board::-webkit-scrollbar-thumb:hover {
    background-color: #ff7433;
    /* Slightly lighter orange on hover */
}

/* Edge and Firefox Scrollbar */
.board {
    scrollbar-width: thin;
    scrollbar-color: #ff6200 #1e1e1e;
}

/* Styles for each column container that holds the title, button, and cards */
.column-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: inherit;
    flex: 1;
    min-width: 320px;
    /* Ensure columns maintain the minimum width and allow scrolling */
    flex-shrink: 0;
    /* Prevent the columns from shrinking below min-width */
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    box-sizing: border-box;
    overflow: hidden;
}

.input-group {
    text-align: center;
    padding-top: 10px;
    width: 100%;
}

// /* Styles specifically for the droppable area within each column */
// .droppable-area {
//     flex-grow: 1;
//     // height: 70vh;

//     /* Adjust this value based on your layout */
//     overflow: visible;
//     /* Remove vertical scrolling */
//     padding: 10px;
//     // border: 1px solid #ccc;
//     /* Optional: for visual clarity */
//     // background-color: #fff;
//     cursor: auto;
// }

// .droppable-area {
//     flex-grow: 1;
//     // overflow-y: auto;
//     // overflow-x: hidden;
//     /* Enable vertical scrolling */

//     /* Disable horizontal scrolling */
//     padding: 10px;
//     max-height: 80vh;
//     /* Adjust this value as needed */
// }
.droppable-area {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    // overflow: visible !important;
    padding: 10px;
    max-height: calc(100% - 60px); // Adjust based on your column header height
    position: relative; // Establish a new stacking context
    scrollbar-width: thin;
    /* Make the scrollbar thin */

}

.draggable-card {
    position: relative;
    z-index: 1; // Ensure cards are above the droppable area
}

/* Add custom scrollbar styling */
.droppable-area::-webkit-scrollbar {
    width: 4px;
}

.droppable-area::-webkit-scrollbar-thumb {
    background-color: #ff6200;
    border-radius: 4px;
}

.droppable-area::-webkit-scrollbar-track {
    background: #1e1e1e;
}

/* Styling for the title of each column */
.column-container h2 {
    padding: 10px 10px 5px 10px;
    /* Padding around the title for spacing */
    font-size: 30px;
    text-align: center;
    // cursor: auto;
}

.column-title {
    text-align: center;
    float: right;
}

.column-title h2 {
    text-transform: uppercase;
}

.column-title-input {
    // padding: 10px 10px 5px 10px;
    align-items: center;
    color: black;
    height: 100%;
    font-size: 30px;
    min-width: 320px;
    // padding-top: 10px;
}

/* Button styles within each column */
.column-container button {
    margin: 10px;
    /* Margin around the button */
    padding: 5px 10px;
    /* Padding inside the button */
    background-color: #007bff;
    /* Example blue background color */
    color: white;
    /* Text color for the button */
    border: none;
    /* No border */
    border-radius: 4px;
    /* Rounded corners for the button */
    cursor: pointer;
    /* Cursor indicates button */
}

.icon-button {
    position: absolute;
    /* Position the button absolutely within the header */
    right: 0px;
    /* Adjust as needed for spacing */
    top: 13%;
    // margin-top: 5px !important;
    // margin: 0px !important;
    // transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none !important;
    margin-right: 0px !important;
}

.dropdown {
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #333;
    /* Dropdown background color */
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px 0;
    z-index: 100;
}

.dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown ul li {
    display: flex;

    padding: 10px 15px;
    align-items: center;
    /* Align icons and text vertically */

    color: #fff;
    /* Dropdown text color */
    cursor: pointer;
    font-size: 14px;
}

.dropdown ul li:hover {
    background-color: #555;
    /* Hover color for dropdown items */
}

.dropdown ul li svg {
    margin-right: 8px;
    /* Add space between the icon and the text */
}

.rs-theme-light {
    .dropdown {
        background-color: white;
    }

    .dropdown ul li {
        color: black;
    }

    .dropdown ul li:hover {
        background-color: #ccc;
    }
}

//  Counter Styling
.column-header-title {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.column-counter {
    // padding-right: 20px;
    /* Adjust spacing as needed */
    font-weight: bold;
    /* Additional styles for the counter, e.g., color, size */
    font-size: 20px;
}

.column-header {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    padding: 0px 20px 0px 20px;
    // padding: 10px;
    //     /* Adjust padding if needed */
}

.column-header-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    /* Allow content to take up remaining space */
    justify-content: center;
    /* Center the content (title or input) */
    position: relative;
}

@media (max-width: 498px) {
    // .board {
    //     flex-direction: column;
    //     /* Stack columns vertically on smaller screens */
    //     height: auto;
    //     padding: 0px;
    //     // border: pink 1px solid;
    //     overflow-y: hidden;
    //     // background-color: pink;

    // }

    .board {
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: scroll;
    }

    .column-container h2 {
        font-size: 22px;
    }

    .column-container {
        border: 1px solid #ccc;
        border-radius: 5px;
        height: inherit;
        flex: 1;
        min-width: 320px;
        /* Ensure columns maintain the minimum width and allow scrolling */
        flex-shrink: 0;
        /* Prevent the columns from shrinking below min-width */
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        box-sizing: border-box;
        overflow: visible;
    }
}

/* Adjustments for smaller screens */
@media (max-height: 800px) {
    .board {
        min-width: 100vw;
        overflow-x: scroll;
    }

    .column-container {
        height: 82vh;
        flex-shrink: 0;
        /* Adjust height for small screens */
    }
}

@media (max-height: 700px) {
    .board {
        min-width: 100vw;
        overflow-x: scroll;
    }

    .column-container {
        height: 80vh;
        flex-shrink: 0;
        /* Adjust height for small screens */
    }
}

@media (max-height: 600px) {
    .board {
        min-width: 100vw;
        overflow-x: scroll;
    }

    .column-container {
        // height: 74vh;
        /* Adjust height for small screens */
        flex-shrink: 0;
    }
}

@media (max-height: 500px) {
    .board {
        min-width: 100vw;
        overflow-x: scroll;
    }

    .column-container {
        height: 56vh;
        flex-shrink: 0;
        /* Further adjust height for very small screens */
    }
}

/* Fix for the "Add New Column" section */
#add-new-column {
    justify-content: center !important;
    align-items: center !important;
    padding: 20px !important;
    border: 1px dashed #007bff !important;
    /* Dashed border for the placeholder */
    min-width: 320px;
    /* Ensure this section has the same minimum width as other columns */
    max-width: 320px;
    /* Prevent it from growing larger than other columns */
    flex-shrink: 0;
    /* Prevent shrinking */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.add-new-button {
    padding: 10px 20px !important;
    background-color: #007bff !important;
    color: white !important;
    border: none !important;
    border-radius: 5px !important;
    font-size: 16px !important;
    cursor: pointer !important;
    margin: auto;
    /* Center the button */
}

.add-new-button:hover {
    background-color: #0056b3 !important;
}

.bin-drop-area {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    // background-color: rgba(255, 0, 0, 0.8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9; // Ensure it's visible enough
    z-index: 1000;
}

.rs-theme-light{
    .board{
            scrollbar-color: #ff6200 white;
    }
}