/* Board styles to arrange columns horizontally */
.board {
    display: flex;
    // background-color: pink;
    flex-direction: row;
    /* Align columns horizontally */
    justify-content: flex-start;
    /* Distribute space evenly around columns */
    padding: 0px 20px 0px 0px;
    gap: 20px;
    /* Space between each column */
    align-items: flex-start;
    /* Align columns at the start of their container */
    // height: auto;
    // background-color: pink;
    max-width: 100vw;
    overflow-x: auto;
    // height: auto;
    // overflow-y: auto;
    height: 86vh;
    // margin-bottom: 100px;
    

}


/* Styles for each column container that holds the title, button, and cards */
.column-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: inherit; // width: 100vw;
    flex: 1;

    /* Initial size of columns */
    // flex-grow: 1;
    /* Allow columns to grow if there's extra space */
    flex-shrink: 1;
    /* Allow columns to shrink, but not below the min-width */
    min-width: 320px;
    /* Prevent columns from shrinking too much */

    display: flex;
    flex-direction: column;
    // min-height: 0;

    white-space: nowrap;
    box-sizing: border-box;
    overflow-y: auto;
    cursor: auto;
}

.input-group {
    text-align: center;
    padding-top: 10px;
    width: 100%;
}


/* Styles specifically for the droppable area within each column */
.droppable-area {
    flex-grow: 1;
    // height: 70vh;

    /* Adjust this value based on your layout */
    overflow-y: auto;
    padding: 10px;
    // border: 1px solid #ccc;
    /* Optional: for visual clarity */
    // background-color: #fff;
    cursor: auto;
}

/* Styling for the title of each column */
.column-container h2 {
    padding: 10px 10px 5px 10px;
    /* Padding around the title for spacing */
    font-size: 30px;
    text-align: center;
    // cursor: auto;
}

.column-title {
    text-align: center;
    float: right;
}


.column-title-input {
    // padding: 10px 10px 5px 10px;
    align-items: center;
    color: black;
    height: 100%;
    font-size: 30px;
    min-width: 320px;
    // padding-top: 10px;
}

/* Button styles within each column */
.column-container button {
    margin: 10px;
    /* Margin around the button */
    padding: 5px 10px;
    /* Padding inside the button */
    background-color: #007bff;
    /* Example blue background color */
    color: white;
    /* Text color for the button */
    border: none;
    /* No border */
    border-radius: 4px;
    /* Rounded corners for the button */
    cursor: pointer;
    /* Cursor indicates button */
}

.icon-button {
    position: absolute;
    /* Position the button absolutely within the header */
    right: 0px;
    /* Adjust as needed for spacing */
    top: 50%;
    margin-top: 5px !important;
    // margin: 0px !important;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
    color: #555;
    
}

.dropdown {
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #333;  /* Dropdown background color */
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px 0;
    z-index: 100;
  }
  
  .dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .dropdown ul li {
    display: flex;
    
    padding: 10px 15px;
    align-items: center;  /* Align icons and text vertically */

    color: #fff;  /* Dropdown text color */
    cursor: pointer;
    font-size: 14px;
  }
  
  .dropdown ul li:hover {
    background-color: #555;  /* Hover color for dropdown items */
  }

  .dropdown ul li svg {
    margin-right: 8px;  /* Add space between the icon and the text */
  }



//  Counter Styling 
.column-header-title {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.column-counter {
    // padding-right: 20px;
    /* Adjust spacing as needed */
    font-weight: bold;
    /* Additional styles for the counter, e.g., color, size */
    font-size: 20px;
}

.column-header {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    padding: 0px 20px 0px 20px;
    // padding: 10px;
    //     /* Adjust padding if needed */
}

.column-header-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    /* Allow content to take up remaining space */
    justify-content: center;
    /* Center the content (title or input) */
    position: relative;
}

@media (max-width: 498px) {
    // .board {
    //     flex-direction: column;
    //     /* Stack columns vertically on smaller screens */
    //     height: auto;
    //     padding: 0px;
    //     // border: pink 1px solid;
    //     overflow-y: hidden;
    //     // background-color: pink;


    // }

    .board {
        flex-direction: row;
        overflow-x: auto;
        padding: 0;
    }

    .column-container {
        // min-width: 190px;
        /* Ensure columns do not shrink below this width */
    }

    .column-container {
        // background: #fff;
        /* Background color for the column */
        border: 1px solid #ccc;
        /* Border for the column */
        border-radius: 5px;
        /* Rounded corners for the column */
        /* Minimum width for each column */
        // max-width: 340px;
        /* Maximum width for each column */
        flex-shrink: 0;
        /* Prevent columns from shrinking */
        // flex-shrink: 0;
        flex-grow: 0;
        /* Allows columns to grow as needed */
        display: flex;
        flex-direction: column;
        /* Stack items vertically within each column */
        height: 100%;
        // width: 20.5%;
        overflow-y: auto;
        white-space: nowrap;
    }

}



/* Adjustments for smaller screens */
@media (max-height: 800px) {
    .column-container, .add-new-column {
        height: 82vh;
        /* Adjust height for small screens */
    }
}

@media (max-height: 700px) {
    .column-container, .add-new-column {
        height: 80vh;
        /* Adjust height for small screens */
    }
}

@media (max-height: 600px) {
    .column-container, .add-new-column {
        // height: 74vh;
        /* Adjust height for small screens */
    }
}

@media (max-height: 500px) {
    .column-container, .add-new-column {
        height: 56vh;
        /* Further adjust height for very small screens */
    }
}


.add-new-column {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-width: 320px;
    height: inherit;
    border: 1px dashed #007bff;  // Dashed border for the placeholder
    border-radius: 5px;
    cursor: pointer;
    
    
  }

    
  
  .add-new-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .add-new-button:hover {
    background-color: #0056b3;
  }