.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff6200;
    /* Bright pink background */
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-family: 'Arial', sans-serif;
    height: 130px;
    transition: transform 0.3s ease, box-shadow 0.2s ease, margin 0.3s ease;
    /* Smooth transitions */

    /* Transitions for smooth visual effects */
    /* Smooth transitions for transform and shadow */

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    min-width: 193px;
}


// .card.is-dragging {
//     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
//     /* Enhanced shadow for dragging */
//     transform: scale(1.03);
//     /* Slight scale to raise the card visually */
// }

.left-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-size: 45px;
    /* Adjust size as needed */
    margin-bottom: 30px;
    /* Space between logo and share icon */
}

.card-details {
    flex-grow: 1;
    text-align: center;
    margin-left: 5px;
    text-align: left;
    margin-bottom: 50px;
    /* Provide some padding around the text */
}

.company-name {
    font-size: 28px;
    margin: 0;
    font-weight: bold;
}

.position {
    font-size: 14px;
    margin: 0;
}

.star-icon {
    font-size: 24px;
    color: #ffd700;
    /* Star color */
    margin-bottom: 30px;

}

.share-icon {
    font-size: 24px;
    color: #000;
    /* Adjust color as needed */
}

.right-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-icon {
    font-size: 20px;
    top: 5px;
    border: black solid 1px;
}

.info-icon:hover {
    // background-color: #ff6200;
    /* Adjust color as needed */
    color: black;
}

@media (max-width:498px) {
    .card {
        min-width: 10px;
    }
}