.button {
    width: 120px;
    /* Updated width */
    height: 1.7rem;
    /* Equivalent to h-16 */
    background-color: #8338ec;
    /* Default background color */
    border-radius: 0.5rem;
    /* Equivalent to rounded-lg */
    cursor: pointer;
    user-select: none;
    position: relative;
    transition: all 0.15s;
    color: white;
    /* Text color */
    display: flex;
    /* Flex display for centering */
    flex-direction: column;
    /* Stack children vertically */
    justify-content: flex-end;
    /* Align children to the bottom */
    // line-height: 24px;
    text-align: center;
    /* Updated line height */
    padding: 0.4rem 0.5rem 0.2rem 0.5rem;
    /* Optional padding for aesthetics */

    /* Box-shadow for normal state */
    box-shadow: 0 0.625rem 0 0 rgba(131, 56, 236, 1), 0 0.9375rem 0 0 rgba(131, 56, 236, 0.25);
    border-bottom: 1px solid rgba(131, 56, 236, 1);
    /* Border color */

    &:active {
        transform: translateY(0.125rem);
        /* Move down on active */
        border-bottom: 0;
        /* Remove border on active */
        background-color: #8338ec;
        /* Keep the same background color on active */
        box-shadow: 0 0px 0 0 rgba(131, 56, 236, 1), 0 0px 0 0 rgba(131, 56, 236, 0.25);
        /* No shadow on active */
    }

    span {
        // text-align: center;
        /* Center text horizontally */
        // margin-bottom: 0;
        // /* Remove default margin */
    }
}

@media (max-width: 768px) {
    .button {
        max-width: 10vw;
    }

    .header-icon {
        font-size: 16px !important;
    }
}