.scroll-container {
  height: 90vh !important;
  /* Adjust as needed based on the total height */
  // width: 99%;
  /* Adjust the height as needed */
  overflow-y: auto;
  overflow-x: hidden;
  /* Enables vertical scrolling */
  padding: 10px;
  box-sizing: border-box;
  // background-color: white;
  margin: 0px 10px 0px 5px;

  /* Scrollbar Styles */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #1e1e1e;
    /* Dark background for scrollbar track */
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ff6200;
    /* Orange color to match your theme */
    border-radius: 10px;
    border: 2px solid #1e1e1e;
    /* Adds padding around the thumb */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #ff7433;
    /* Lighter orange on hover */
  }

  /* Firefox Scrollbar */
  scrollbar-width: thin;
  scrollbar-color: #ff6200 #1e1e1e;

  /* Edge Scrollbar */
  &::-ms-scrollbar {
    width: 8px;
  }

  &::-ms-scrollbar-track {
    background: #1e1e1e;
  }

  &::-ms-scrollbar-thumb {
    background-color: #ff6200;
    border-radius: 10px;
    border: 2px solid #1e1e1e;
  }
}

#border-line {
  border: 1px white solid;
  border-radius: 24px;
  margin: 10px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#dropdownSelect {
  padding: 8px;
  border-radius: 8px;
  background-color: transparent !important;
  color: #757575 !important;
  border: 1px solid #757575;
}

.rs-theme-light {

  #border-line {
    border: 1px darkgrey solid;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
  }

  h4 {
    color: rgb(117, 117, 117) !important;
  }

  #label {
    fill: black !important;
  }

  [data-testid="InfoIcon"] {
    fill: dimgray;
  }
}

.bar-icon-button {

  [data-testid="InfoIcon"] {
    fill: white;
  }

  &:hover {
    color: #ff6200 !important;
  }
}

.rs-theme-dark {
  #label {
    fill: white;
  }

  #dropdownSelect {
    background-color: transparent !important;
    color: white !important;
    border: 1px solid #757575;
  }


}

.recharts-tooltip-label {
  color: black;
}

.border-line {
  min-height: 483px;
}

@media (max-width: 768px) {
  .border-line {
    justify-content: center !important;
    min-height: fit-content !important;
  }
}

[role="tooltip"] {
  background-color: #ff6200 !important;
  color: white;
  padding: 8px;
  border-radius: 16px !important;
  font-size: 13px !important;
}