.new-button {
    background-color: rgb(255,0,1);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 12px;
    cursor: not-allowed; 
    margin-left: auto;
    text-transform: uppercase;
    font-weight: bold;
    animation: glow 1.5s infinite alternate;
}


@keyframes glow {
  0% {
    box-shadow: 0 0 5px #ff0000;
  }

  100% {
    box-shadow: 0 0 20px #d36363;
  }
}