/* Ensure the font is loaded in your HTML */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/* Apply the font globally with !important */
body,
html {
  font-family: 'Inter', sans-serif !important;
  line-height: 1.5 !important;
  font-weight: 400 !important;
  /* color: #333 !important; */
}

/* Override font for specific elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
  /* color: #000 !important; */
}

p,
a,
span,
li,
ul,
ol,
div,
button,
input,
textarea {
  font-family: 'Inter', sans-serif !important;
  font-weight: 400 !important;
  /* color: #333 !important; */
}

/* Customize additional component styles if needed */
button {
  /* font-weight: 600 !important; */
  /* text-transform: none !important; */
}

input,
textarea {
  font-family: 'Inter', sans-serif !important;
  /* font-size: 14px !important; */
}

a {
  text-decoration: none !important;
  /* color: #007BFF !important; */
}

a:hover {
  /* color: #0056b3 !important; */
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 7px;
  background: #ff6200;
  transform-origin: 0%;
  z-index: 1000;
}


.css-1jksjri,
.css-iaqgiv,
.css-p6yzd4,
.css-zhlr0x {
  margin: 30px 10px !important;
  width: -webkit-fill-available !important;
  height: -webkit-fill-available !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.css-p6yzd4 {
  background-position: center;
  background-size: contain !important;
}

.css-zhlr0x {
  margin: 50% 10px !important;
  background-size: contain !important;
}