/* Fade in and fade out animations */
.fade-out {
  opacity: 0;
  animation: fadeOut ease-out;
  animation-duration: 1.5s;
}

.fade-in {
  opacity: 1;
  animation: fadeInLeft 0.8s ease-in;
}

@media (max-width: 600px) {
  .fade-out,
  .fade-in {
    animation: none; /* Disable animations for mobile */
  }
}
