/* public/global.css */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

html, body, #root {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overflow-y: auto;
}

/* Fix for react-toastify container being overridden */
.Toastify__toast-container {
  z-index: 9999;
  pointer-events: none;
}

.Toastify__toast {
  pointer-events: auto;
}

.Toastify__toast-container--bottom-right {
  bottom: 1em !important;
  right: 1em !important;
  top: auto !important;
  left: auto !important;
}