.updated-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 16px;
    padding: 4px 8px;
    font-size: 12px;
    cursor: not-allowed; 
    margin-left: auto;
    text-transform: uppercase;
    font-weight: bold;
    animation: glow 1.5s infinite alternate;
}


@keyframes glow {
  0% {
    box-shadow: 0 0 5px#5aaf5c;
  }

  100% {
    box-shadow: 0 0 20px#4CAF50;
  }
}