.search-input {
  margin-left: -5px;
  width: 300px;
}

.rs-input {
  background-color: #1a1a1a;
  /* Dark theme background */
  color: white;
}

.rs-input-group-addon {
  background-color: #1a1a1a;
  color: #fff;
}

.rs-input-group-button {
  background-color: #4e4e4e;
}