.rs-theme-dark {
    .date-range-filter-panel {
        background-color: #1D2633;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    }

    .date-range-filter-panel-text {
        color: #ffffff !important;
    }
}

.rs-theme-light {
    .date-range-filter-panel {
        background-color: #fff;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    }

    .date-range-filter-panel-text {
        color: #000000 !important;
    }
}

.date-range-filter-panel {
    border-radius: 10px;
    padding: 30px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}