.beta-badge {
    font-size: 11px; 
    font-weight: bold;
    text-transform: uppercase;
    padding: 4px 6px;
    border-radius: 4px;
    background: #FF6200;
    background-size: 400% 400%;
    position: relative;
    top: -10px; /* Moves it above GradFlow */
    right: -10px; /* Moves it to the top-right */
    color: white !important; 
    text-shadow: 0 0 6px rgba(255, 140, 0, 0.5);


}
