name: Deploy to EB

on:
  push:
    branches:
      - main
    paths:
      - 'backend/**' 

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      
      - name: Install Dependencies for Backend
        working-directory: backend 
        run: npm install 
      
      - name: Generate Deployment Package for Backend
        run: zip -r backend-build.zip ./backend 
      
      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: 'gradflow-node'
          environment_name: 'Gradflow-node-env'
          version_label: ${{ github.sha }}
          region: eu-west-2  
          deployment_package: backend-build.zip 
